<p-toast class="custom-toast" position="bottom-right"/>
<div class="flex flex-wrap mx-2 lg:mx-7 max-h-full justify-content-between">
    <div class="flex-1 px-4 py-2 max-w-50rem min-w-full lg:min-w-0">
        <div class="flex justify-content-between">
            <h2>Update Annotation</h2>
            <p-button class="docs-button m-3 mr-0" [ngClass]="logged ? 'docs-button-hover' : ''" variant="text" label="My Documents" 
                    icon="pi pi-file" (click)="navigateToMyDocs()" [disabled]="!logged" />
        </div>
        <div class="h-full flex flex-column">
            <p-accordion [value]="['1', '2']" [multiple]="true" class="custom-acordion">         
                <p-accordion-panel value="1">
                    <p-accordion-header>Knowledge Annotated</p-accordion-header>
                    <p-accordion-content>
                        <app-annotate-document [concept]="concept" [(bokConcepts)]="bokRelations" [isPdfAvailable]="pdfDoc != null"></app-annotate-document>
                    </p-accordion-content>
                </p-accordion-panel>
            
                <p-accordion-panel value="2">
                    <p-accordion-header>Document Information</p-accordion-header>
                    <p-accordion-content>
                        <app-document-information [(formData)]="formContent" [isPdfAvailable]="pdfDoc != null" [logged]="logged"></app-document-information>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
    
            <div class="flex flex-wrap gap-4 m-3">
                <p-button class="custom-button" (click)="onDownload()" [disabled]="pdfDoc == null">Download</p-button>
                <p-button class="custom-button" (click)="onSave()" [disabled]="pdfDoc == null || !logged || this.formContent == null">Update</p-button>
            </div>
        </div>
    </div>
    <p-divider class="hidden lg:flex my-3" layout="vertical" />
    <div class="flex-1 responsive-wrapper lg:mx-auto">
        <bok-visualization [(selectedConcept)]="concept" [showDescription]="false"> </bok-visualization>
    </div>
</div>