.section-wrapper {
  margin: 24px 48px 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.annotation-list {
  padding: 0;
  margin-bottom: 32px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
}

.annotation-list li {
  border: 1px solid rgba(0, 0, 0, 0.349);
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
}

.add-btn {
  margin-right: 16px;
}

.cross-icon {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 4px;
}
