<section class="document-section">
  <div class="section-wrapper">
    <h2 class="section-heading">Knowledge Annotated</h2>
    <ul class="annotation-list">
      <li
        *ngFor="let concept of bokConcepts"
        (click)="deleteBokConcept(concept)"
        [ngStyle]="{
          'background-color': getBackgroundColor(concept) | async
        }"
      >
        {{ concept + " " + getConceptName(concept) }}
        <span class="pi pi-times-circle cross-icon"></span>
      </li>
      <p *ngIf="bokConcepts.length === 0">
        Search and add knowledge to start annotating the PDF
      </p>
    </ul>

    <div class="btn-controls">
      <button
        [ngClass]="{ 'disable-btn': !isPdfAvailable }"
        class="p-button add-btn custom-button"
        (click)="addAnnotation()"
        [disabled]="!isPdfAvailable"
      >
        Add annotation
      </button>
      <button
        [ngClass]="{ 'disable-btn': !isPdfAvailable }"
        class="p-button clear-btn custom-button"
        (click)="onClear()"
        [disabled]="!isPdfAvailable"
      >
        Clear all
      </button>
      <p *ngIf="message" style="color: var(--danger-color)">{{ message }}</p>
    </div>
  </div>
</section>
<bok-visualization [(selectedConcept)]="concept"> </bok-visualization>
