<div>
  <h2>General Information</h2>
  <div class="flex flex-column gap-4">
    <p-floatlabel variant="on" class="custom-floatlabel">
      <p-iconfield>
        <p-inputicon class="pi pi-pencil" />
        <input pInputText id="name" autocomplete="off" class="w-full custom-input" [(ngModel)]="fileName" (ngModelChange)="fileNameChange.emit(fileName)"/>
        </p-iconfield>
        <label for="name">Name</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="custom-floatlabel">
        <p-iconfield class="textarea-iconfield">
            <p-inputicon class="pi pi-align-justify"></p-inputicon>
            <textarea id="description" rows="5" cols="30" pTextarea [(ngModel)]="description" (ngModelChange)="descriptionChange.emit(description)"
                      style="resize: none;" class="w-full custom-textarea"></textarea>
        </p-iconfield>
        <label for="description">Description</label>
    </p-floatlabel>
  </div>
</div>