<div class="flex flex-column gap-4 my-2">
  <div class="flex gap-2">
    <p-floatlabel variant="on" class="custom-floatlabel flex-1">
      <p-iconfield>
        <p-inputicon class="pi pi-pencil" />
        <input pInputText id="name" autocomplete="off" class="w-full custom-input" 
              [(ngModel)]="fileName" [disabled]="!logged || !isPdfAvailable"/>
        </p-iconfield>
        <label for="name">Name</label>
    </p-floatlabel>
    <p-selectbutton [options]="stateOptions" [(ngModel)]="publicFile" optionLabel="label" optionValue="value" [disabled]="!logged || !isPdfAvailable" />
  </div>

  <p-floatlabel variant="on" class="custom-floatlabel">
      <p-iconfield class="textarea-iconfield">
          <p-inputicon class="pi pi-align-justify"></p-inputicon>
          <textarea id="description" rows="5" cols="30" pTextarea [(ngModel)]="description" style="resize: none;" 
                    class="w-full custom-textarea" [disabled]="!logged || !isPdfAvailable"></textarea>
      </p-iconfield>
      <label for="description">Description</label>
  </p-floatlabel>
</div>