<div class="flex flex-wrap">
    <div class="flex-1 p-3 overflow-auto min-w-screen lg:min-w-0 max-h-full lg:max-h-screen">
        <div class="h-full flex flex-column">
            <app-upload-document></app-upload-document>
            <app-annotate-document [concept]="concept"></app-annotate-document>
            <div class="btn-controls">
                <button  class="p-button download-btn custom-button" (click)="onDownload()">
                    Download
                </button>
                <p *ngIf="message" class="error-msg">{{ message }}</p>
            </div>
        </div>
    </div>
    <div class="flex-1">
        <bok-visualization [(selectedConcept)]="concept" [showDescription]="false"> </bok-visualization>
    </div>
</div>