<section class="document-section">
  <div class="section-wrapper">
    <div class="upload-section">
      <h2 class="section-heading">Upload PDF</h2>

      <div class="input-field">
        <label for="file" class="p-inputtext custom-input"
          >Upload resource (pdf only)</label
        >
        <label for="file" class="p-button browse-btn custom-button"
          >Browse file</label
        >

        <input
          type="file"
          accept="application/pdf"
          id="file"
          (change)="onFileSelected($event)"
          class="p-inputtext custom-input"
        />
      </div>

      <div class="progress-container">
        <p *ngIf="fileName" id="progress-bar">
          {{ fileName }}.pdf ({{ fileSize }})
        </p>

        <p *ngIf="pageCount">Page Count: {{ pageCount }}</p>

        <div *ngIf="showProgressBar">
          <div class="progress-bar" [style.width]="progress + '%'">
            {{ progress }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
