.section-wrapper {
  margin: 24px 48px 40px;
  padding-bottom: 24px;
  display: flex;
  column-gap: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.upload-section,
.general-section {
  width: 50%;
}

.custom-input {
  cursor: pointer;
  margin-right: 12px;
  display: inline-block;
}

input[type="file"] {
  display: none;
}

.general-section .form-field {
  margin-bottom: 16px;
}
.general-section label {
  margin-bottom: 8px;
}

.general-section label,
.general-section input,
.general-section textarea {
  display: block;
  width: 100% !important;
}

.progress-container {
  overflow: hidden;
  margin-top: 10px;

  margin: 10px 20px 10px 0px;
}

.progress-bar {
  height: 20px;
  width: 90%;
  background: green;
  text-align: center;
  color: white;
  line-height: 20px;
  transition: width 0.3s;
  border-radius: 4px;
}

.download-btn {
  display: block;
  margin: 0 auto;
}

.error-msg {
  color: orangered;
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 1160px) {
  .custom-input {
    min-width: 100%;
  }

  .browse-btn {
    margin-top: 12px;
    display: inline-block;
  }
}

@media screen and (max-width: 856px) {
  .section-wrapper {
    flex-direction: column;
  }

  .upload-section,
  .general-section {
    width: 100%;
  }
}
